@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
  body {  
    font-family:var(--bs-body-font-family);
    font-size:var(--bs-body-font-size);
    font-weight:var(--bs-body-font-weight);
    line-height:var(--bs-body-line-height);
    color:var(--bs-body-color);
    text-align:var(--bs-body-text-align);
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --bs-card-spacer-y:  1rem;  
    --bs-card-spacer-x:  1rem;  
    --bs-card-border-width:  0;  
    --bs-card-border-color:  rgba(0,0,0,.125);  
    --bs-card-border-radius:  1rem;  
    --bs-card-inner-border-radius:  1rem;  
    --bs-card-cap-padding-y:  0.5rem;  
    --bs-card-cap-padding-x:  1rem;  
    --bs-card-cap-bg:  #fff;  
    --bs-card-bg:  #fff;  
    --bs-table-color:  #67748e;  
    --bs-table-bg:  transparent;  
    --bs-table-border-color:  #e9ecef;  
    --bs-table-accent-bg:  transparent;  
    --bs-badge-padding-x:  0.9em;  
    --bs-badge-padding-y:  0.55em;  
    --bs-badge-font-size:  0.75em;  
    --bs-badge-font-weight:  700;  
    --bs-badge-color:  #fff;  
    --bs-badge-border-radius:  0.45rem;  
} 

* { 
    box-sizing: border-box;
} 

*  { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

body { 
    margin: 0; 
    font-family: var(--bs-body-font-family); 
    font-size: var(--bs-body-font-size); 
    font-weight: var(--bs-body-font-weight); 
    line-height: var(--bs-body-line-height); 
    color: var(--bs-body-color); 
    text-align: var(--bs-body-text-align); 
    background-color: var(--bs-body-bg); 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

body { 
    font-weight: 400; 
    line-height: 1.6;
} 

html { 
    border: none!important;
} 

:root { 
    --bs-font-sans-serif: Open Sans; 
    --bs-body-font-family: var(--bs-font-sans-serif); 
    --bs-body-font-size: 1rem; 
    --bs-body-font-weight: 400; 
    --bs-body-line-height: 1.5; 
    --bs-body-color: #67748e; 
    --bs-body-bg: #fff; 
    border: 1px solid rgba(0,0,0,.175); 
    --bs-link-color: #cb0c9f; 
    --bs-link-hover-color: #830866; 
} 

@media (prefers-reduced-motion: no-preference){ 
  :root { 
    scroll-behavior: smooth;
  } 
}     

*  { 
    flex-shrink: 0; 
    width: 100%; 
    max-width: 100%; 
    padding-right: calc(var(--bs-gutter-x) * .5); 
    padding-left: calc(var(--bs-gutter-x) * .5); 
    margin-top: var(--bs-gutter-y);
} 

.col-12 { 
    flex: 0 0 auto; 
    width: 100%;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.card { 
    --bs-card-spacer-y: 1rem; 
    --bs-card-spacer-x: 1rem; 
    --bs-card-border-width: 0; 
    --bs-card-border-color: rgba(0,0,0,.125); 
    --bs-card-border-radius: 1rem; 
    --bs-card-inner-border-radius: 1rem; 
    --bs-card-cap-padding-y: 0.5rem; 
    --bs-card-cap-padding-x: 1rem; 
    --bs-card-cap-bg: #fff; 
    --bs-card-bg: #fff; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    min-width: 0; 
    height: var(--bs-card-height); 
    word-wrap: break-word; 
    background-color: var(--bs-card-bg); 
    background-clip: border-box; 
    border: var(--bs-card-border-width) solid var(--bs-card-border-color); 
    border-radius: var(--bs-card-border-radius);
} 

.mb-4 { 
    margin-bottom: 1.5rem!important;
} 

.card { 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
} 

.card-header { 
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x); 
    margin-bottom: 0; 
    color: var(--bs-card-cap-color); 
    background-color: var(--bs-card-cap-bg); 
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
} 

.pb-0 { 
    padding-bottom: 0!important;
} 

.card-header:first-child { 
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
} 

.card .card-header  { 
    padding: 1.5rem;
} 

.card-body { 
    flex: 1 1 auto; 
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); 
    color: var(--bs-card-color);
} 

.px-0 { 
    padding-right: 0!important; 
    padding-left: 0!important;
} 

.pt-0 { 
    padding-top: 0!important;
} 

.pb-2 { 
    padding-bottom: .5rem!important;
} 

.card .card-body  { 
    font-family: Open Sans; 
    padding: 1.5rem;
} 

h6 { 
    margin-top: 0; 
    margin-bottom: .5rem; 
    font-weight: 400; 
    line-height: 1.2; 
    color: #344767;
} 

h6 { 
    font-size: 1rem; 
    line-height: 1.625;
} 

h6 { 
    font-weight: 600;
} 

.table-responsive { 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
} 

.p-0 { 
    padding: 0!important;
} 

table { 
    caption-side: bottom; 
    border-collapse: collapse;
} 

.table { 
    --bs-table-color: #67748e; 
    --bs-table-bg: transparent; 
    --bs-table-border-color: #e9ecef; 
    --bs-table-accent-bg: transparent; 
    width: 100%; 
    margin-bottom: 1rem; 
    color: var(--bs-table-color); 
    vertical-align: top; 
    border-color: var(--bs-table-border-color);
} 

.align-items-center { 
    align-items: center!important;
} 

.mb-0 { 
    margin-bottom: 0!important;
} 

.table { 
    border-collapse: inherit;
} 

thead { 
    border-color: inherit; 
    border-style: solid; 
    border-width: 0;
} 

.table > thead  { 
    vertical-align: bottom;
} 

tbody { 
    border-color: inherit; 
    border-style: solid; 
    border-width: 0;
} 

.table > tbody  { 
    vertical-align: inherit;
} 

tr { 
    border-color: inherit; 
    border-style: solid; 
    border-width: 0;
} 

th { 
    text-align: inherit; 
    text-align: -webkit-match-parent;
} 

th { 
    border-color: inherit; 
    border-style: solid; 
    border-width: 0;
} 

.opacity-7 { 
    opacity: .7!important;
} 

.text-uppercase { 
    text-transform: uppercase!important;
} 

.text-secondary { 
    color: #8392ab!important;
} 

.text-xxs { 
    font-size: .65rem!important;
} 

.font-weight-bolder { 
    font-weight: 700!important;
} 

.table > :not(caption) > * > *  { 
    padding: .5rem; 
    background-color: var(--bs-table-bg); 
    border-bottom-width: 1px; 
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
} 

.table th  { 
    font-weight: 600;
} 

.table th  { 
    white-space: nowrap;
} 

.table thead th  { 
    padding: .75rem 1.5rem; 
    text-transform: capitalize; 
    letter-spacing: 0; 
    border-bottom: 1px solid #e9ecef;
} 

.table.align-items-center th  { 
    vertical-align: middle;
} 

.table > :not(:last-child) > :last-child > *  { 
    border-bottom-color: #e9ecef;
} 

.ps-2 { 
    padding-left: .5rem!important;
} 

.text-center { 
    text-align: center!important;
} 

td { 
    border-color: inherit; 
    border-style: solid; 
    border-width: 0;
} 

.table td  { 
    white-space: nowrap;
} 

.table.align-items-center td  { 
    vertical-align: middle;
} 

.align-middle { 
    vertical-align: middle!important;
} 

.text-sm { 
    line-height: 1.5;
} 

.text-sm { 
    font-size: .875rem!important;
} 

.table tbody tr:last-child td  { 
    border-width: 0;
} 

.d-flex { 
    display: flex!important;
} 

.px-2 { 
    padding-right: .5rem!important; 
    padding-left: .5rem!important;
} 

.py-1 { 
    padding-top: .25rem!important; 
    padding-bottom: .25rem!important;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

p { 
    line-height: 1.6;
} 

p { 
    font-weight: 400;
} 

p { 
    font-size: 1rem;
} 

p { 
    line-height: 1.625; 
    font-weight: 400;
} 

.text-xs { 
    line-height: 1.25;
} 

.text-xs { 
    font-size: .75rem!important;
} 

.font-weight-bold { 
    font-weight: 600!important;
} 

.badge { 
    --bs-badge-padding-x: 0.9em; 
    --bs-badge-padding-y: 0.55em; 
    --bs-badge-font-size: 0.75em; 
    --bs-badge-font-weight: 700; 
    --bs-badge-color: #fff; 
    --bs-badge-border-radius: 0.45rem; 
    display: inline-block; 
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x); 
    font-size: var(--bs-badge-font-size); 
    font-weight: var(--bs-badge-font-weight); 
    line-height: 1; 
    color: var(--bs-badge-color); 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: baseline; 
    border-radius: var(--bs-badge-border-radius);
} 

.badge { 
    text-transform: uppercase;
} 

.bg-gradient-success { 
    background-image: linear-gradient(310deg,#17ad37,#98ec2d);
} 

a { 
    color: var(--bs-link-color);
} 

a { 
    text-decoration: none;
} 

a { 
    letter-spacing: -.025rem; 
    color: #344767;
} 

a,a:hover { 
    text-decoration: none;
} 

a:hover { 
    color: var(--bs-link-hover-color);
} 

.bg-gradient-secondary { 
    background-image: linear-gradient(310deg,#627594,#a8b8d8);
} 

.flex-column { 
    flex-direction: column!important;
} 

.justify-content-center { 
    justify-content: center!important;
} 

img { 
    vertical-align: middle;
} 

.me-3 { 
    margin-right: 1rem!important;
} 

.avatar { 
    color: #fff; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 1rem; 
    border-radius: .75rem; 
    height: 48px; 
    width: 48px; 
    transition: all .2s ease-in-out;
} 

.avatar-sm { 
    width: 36px!important; 
    height: 36px!important; 
    font-size: .875rem;
} 


